.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-modal-button-container {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.delete-modal-button {
  background-color: orangered;
  color: white;
  border-radius: 20px;
  padding: 5px;
  width: 100px;
}

.delete-cancel-button {
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  width: 100px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
